import(methods)
import(knitr)
importFrom("graphics", "legend", "lines", "par")
importFrom("stats", "interaction.plot", "pnorm", "qnorm")
export(smartSST, powerSST, print.smartSST, plot.smartSST, plot.powerSST, print.powerSST)
export(smartDTR, powerDTR, print.smartDTR, plot.smartDTR, plot.powerDTR, print.powerDTR)
S3method(print, smartSST)
S3method(plot, smartSST)
S3method(plot, powerSST)
S3method(print, powerSST)
S3method(print, smartDTR)
S3method(plot, smartDTR)
S3method(plot, powerDTR)
S3method(print, powerDTR)

